
.grid {
    margin: 0;
    padding: 0;
    gap: 1rem;
    min-height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    grid-template-areas:
      "nav-bar events side-panel"
  }

.nav-bar {
    grid-area: nav-bar;
    
}

.nav-bar-com {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.event-panel {
    grid-area: events;
}

.event-display {
    border-radius: 45px 45px 0px 0px;
    padding: 20px;
    background-color: white;
    height: min-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 4fr;
    grid-template-areas:
      "app-name sum-numbers"
      "progress-total progress-total"
      "my-events my-events"
}

.app-name {
    grid-area: app-name;
}

.sum-numbers {
    grid-area: sum-numbers;
}

.progress-total {
    grid-area: progress-total;
}

.my-events {
    grid-area: my-events;
}

.card {
    border-radius: 20px;
    padding: 10px;
    width: 45%;
    margin: 0px 15px 15px 0px;
    background-color: white;
    /* border-width: 2px; */
}

.spending-bar {
    grid-area: side-panel;
}

.progress, .progress-total {
    width: 90%; 
    height: 15px;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    overflow: hidden;
  }

.progress-bar {
    height: 15px;
    background: green;
    border: black;
}

.event-display .my-events .add-event-button {
    width: 40%;
    padding: 5px 0;
    margin-bottom: 5px;
    color: black;
    background-color: lightgray;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
}

.add-event-form {
    grid-area: events;
    border-radius: 45px 45px 0px 0px;
    padding: 20px;
    margin-top: 10px;
    background-color: white;
    height: min-content;
}

div div .co-events {
    width: 50%;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}


/* h1, h2 {
    font-family: 'Boogaloo', cursive;
}

p {
    font-family: 'PT Sans', sans-serif;
}

.font-Boogaloo {
    font-family: 'Boogaloo', cursive;
}

.font-PT-Sans {
    font-family: 'PT Sans', sans-serif;
} */